doctype html
html
    head
        title= pageTitle
        link(rel='stylesheet', href='/css/style.css')
    body
        h1 Crear Nueva Verdura
        
        a(href='/') ← Regresar a la página de inicio
        
        form(action='/update-cobj', method='POST')
            div
                label(for='nombre') Nombre:
                input(type='text', id='nombre', name='nombre', required)
            
            div
                label(for='tipo_de_verdura') Tipo de Verdura:
                input(type='text', id='tipo_de_verdura', name='tipo_de_verdura', required)
            
            button(type='submit') Crear Verdura